<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ericjohnson.footballapps">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_title"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".view.mainactivity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".view.search.SearchActivity" />
        </activity>
        <activity
            android:name=".view.matchDetail.MatchDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.teamdetail.TeamDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.playerdetail.PlayerDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.search.SearchActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

        </activity>
    </application>

</manifest>